.card{
    position: relative;
    border-radius: 20px;
    height: 50vh;
    width: 600px;
    max-width: 85vw;
    padding: 20px;
    background-size: cover;
    background-position: center;
    box-shadow: 0px 18px 53px 0px rgba(0, 0, 0, 0.3);
}
.card > h3{
    position: absolute;
    bottom: 10px;
    color: white;
}
.tindercard_container{
    display: flex;
    justify-content: center;
    margin-top: 5vh;
}
.swipe{
    position: absolute;
}